#introTextContainer {
  padding-left: 8%;
  padding-right: 8%;
}

#introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#helloMessage {
  color: white;
  font-family: "Comfortaa", cursive;
}

#introParagraph {
  color: white;
  font-family: "Comfortaa", cursive;
}

#arrowLeft {
  position: absolute;
  top: 50%;
  left: 5%;
}

#arrowRight {
  position: absolute;
  top: 50%;
  right: 5%;
}
