<div id="section3">
  <div id="jobInformationContainer">
    <div id="jobExperience" class="container">
      <div class="row">
        <div class="col-12 mt-4">
            <div class="card mt-2">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="logoImage" src="./assets/images/HomeXLogo.jpeg" alt="HomeX Logo Image">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Software Engineer - HomeX (Jan 2021 - Apr 2021)</h4>
                        <p class="card-text">Built features surrounding the Schedule Engine Tool to allow client companies to obtain information regarding their customers and the scheduled appointments</p>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="logoImage" src="./assets/images/BDOLogo.jpg" alt="BDO Logo Image">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Full-Stack Microsoft Developer - BDO (Sept 2019 - Dec 2019)</h4>
                      <p class="card-text">Worked on an Angular web application to allow upper management to assign, manage, and track employees working on projects within the company</p>
                  </div>
              </div>
          </div>
          <div class="card mt-2">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="logoImage" src="./assets/images/CanadianTireLogo.png" alt="Canadian Tire Logo Image">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Full-Stack Developer - Canadian Tire (Jan 2019 - Apr 2019)</h4>
                    <p class="card-text"> Developed and maintained a web store mapping application that provides store dealers with
                      information including sales of products within every aisle of the store using Flask, MySQL, and JavaScript</p>
                </div>
            </div>
        </div>
        <div class="card mt-2">
          <div class="card-horizontal">
              <div class="img-square-wrapper">
                  <img class="logoImage" src="./assets/images/KennaLogo.png" alt="Kenna Logo Image">
              </div>
              <div class="card-body">
                  <h4 class="card-title">Web Application Developer - Kenna (May 2018 - Aug 2018)</h4>
                  <p class="card-text">Updated code, resolved bugs, and added new features on applications developed for BASF Canada and BASF Austrailia using HTML, CSS, and JavaScript</p>
              </div>
          </div>
      </div>
        </div>
    </div>
    </div>
  </div>
  <div id="arrowLeft">
    <fa-icon
      (click)="goToPreviousSlide()"
      [icon]="faChevronLeft"
      size="3x"
      [styles]="{ color: 'white' }"
    ></fa-icon>
  </div>

  <div id="arrowRight">
    <fa-icon
      (click)="goToNextSlide()"
      [icon]="faChevronRight"
      size="3x"
      [styles]="{ color: 'white' }"
    ></fa-icon>
  </div>
</div>
